
:root {
    --very-dark-blue: hsl(233, 47%, 7%); /*main background*/
    --dark-desaturated-blue : hsl(244, 38%, 16%); /*card background*/
    --soft-violet: hsl(277, 64%, 61%); /*accent*/
    --white: hsl(0, 0%, 100%); /*main heading, stats*/
    --slightly-transparent-white: hsla(0, 0%, 100%, 0.5); /*main paragraph | stat headings*/
}

body {
    font-size: 15px;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    /*
    background-image: url(./design/desktop-design.jpg);
    background-repeat: no-repeat;
    background-position: center;
    */
    background-color: var(--very-dark-blue);
    width: 100%;
    height: 100vh;
}

.card {
    display: flex;
    flex-direction: row;
    max-width: calc(100vw - 19%);
    background-color: var(--dark-desaturated-blue);
    font-family: 'Inter', sans-serif;
    border-radius: 3%;
}

.text {
    width: 51%;
    padding-left: 6%;
    padding-right: 10%;
    padding-top: 5%;
}

.text__title {
    line-height: 40px;
    font-size: 2.4em;
    color: var(--white);
}

.text__title span {
    color: var(--soft-violet);
}

.text__description {
    font-size: 1em;
    line-height: 25px;
    color: var(--slightly-transparent-white);
    padding-bottom: 15%;
    
}

.data {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 10%;
    padding-top: 4%;
    padding-bottom: 17%;
}

.data__column h2 {
    font-size: 1.5em;
    color: var(--white);
}

.data__column p {
    font-size: 0.8em;
    font-family: 'Lexend Deca', sans-serif;
    text-transform: uppercase;
    color: var(--slightly-transparent-white);
    padding-top: 10%;
    padding-bottom: 5%;
    
}

.image {
    width: 50%;
    background-color: hsl(277, 100%, 37%);
    border-top-right-radius: 3%;
    border-bottom-right-radius: 3%;
    position: relative;
}

.image img {
    object-fit: cover;
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: .5;
    border-top-right-radius: 3%;
    border-bottom-right-radius: 3%;
    object-position: center;
}

.image__mobile {
    display: none;
}

@media screen and (max-width: 900px){
    
    .text__title {
        font-size: 2em;
        line-height: 35px;
    }

    .text__description {
        font-size: .8em;
        line-height: 20px;
    }
    
    .data {
        font-size: .8em;
    }
}

@media screen and (max-width: 730px) {
    .data {
        font-size: .7em;
    }
  }

  @media screen and (max-width: 650px) {

    .text__title {
        font-size: 1.9em;
        line-height: 1em;
    }

    .text__description {
        font-size: .65em;
        line-height: 1.5em;
    }

    .data {
        font-size: .6em;
    }
  }

@media screen and (max-width: 530px) {

    .card {
        display: flex;
        flex-direction: column-reverse;
        max-height: calc(100vh - 10%);
        max-width: calc(100vw - 10%);
    }

    .text {
        width: 100%;
        height: 50%;
        display: flex;
        font-size: 0.8em;
        padding: 3% 10% 3%;
        flex-direction: column;
        text-align: center;
    }

    .text__title {
        font-size: 2.3em;
        line-height: 1.2em;
        text-align: center;
    }

    .text__description {
        padding-bottom: 10%;
        font-size: 1.2em;
        line-height: 1.5em;
        padding-bottom: 5%;
        text-align: center;
    }

    .data {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        font-size: 1.2em;
        padding: 5% 0 5%;
    
    }

    .data__column {
        display: flex;
        flex-direction: column;
        padding-bottom: 5%;
    }

    .image {
        width: 100%;
        height: 50%;
        border-bottom-right-radius: 0%;
        border-top-left-radius: 3%;
        border-top-right-radius: 3%;
    }

    .image__mobile {
        display: block;
        object-fit: cover;
        border-bottom-right-radius: 0%;
        border-top-left-radius: 3%;
        border-top-right-radius: 3%;
    }

    .image__desktop {
        display: none;
    }
  }


